<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >-->
<!--    <link rel="map" th:href="@{/css/bootstrap.min.css.map}" >-->
<!--    <link rel="stylesheet" th:href="@{/font4/css/font-awesome.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" >-->
<!--    <title>Login</title>-->

<!--</head>-->

<!--<body style="background-color:#E9ECEF;">-->

<!--&lt;!&ndash;-->
<!--<section class="vh-100 gradient-custom"> &ndash;&gt;-->
<!--<div class="container py-5 h-100">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--        <div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
<!--            <div class="card bg-dark text-white" style="border-radius: 1rem;">-->
<!--                <div class="card-body p-5 text-center">-->

<!--                    <div class="mb-md-5 mt-md-4 pb-5">-->

<!--                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>-->

<!--                        <p class="text-white-50 mb-5">Please enter your login details!</p>-->
<!--                        <form method="post" role="form" th:action="@{/login}">-->
<!--                            <div class="form-group mt-3">-->
<!--                                <input type="text" name="username" id="username" placeholder="Email"-->
<!--                                       class="form-control form-control-lg">-->
<!--                            </div>-->


<!--                            <div class="form-group mt-3">-->
<!--                                <input type="password" class="form-control form-control-lg" placeholder="password"-->
<!--                                       name="password" id="password">-->
<!--                            </div>-->
<!--                            <button class="btn btn-outline-light btn-lg px-15 mt-3" type="submit">Login</button>-->
<!--                        </form>-->
<!--                    </div>-->

<!--                    <div class="card-front">-->
<!--                        <div class="center-wrap">-->
<!--                            <form method="post" role="form" th:action="@{/login}">-->
<!--                                <div class="section text-center">-->
<!--                                    <h4 class="mb-4 pb-3">Log In</h4>-->
<!--                                    <div class="form-group">-->
<!--                                        <input type="text" name="username" class="form-style" placeholder="Your Email" id="username" autocomplete="off">-->
<!--                                        <i class="input-icon uil uil-at"></i>-->
<!--                                    </div>-->
<!--                                    <div class="form-group mt-2">-->
<!--                                        <input type="password" name="password" class="form-style" placeholder="Your Password" id="password" autocomplete="off">-->
<!--                                        <i class="input-icon uil uil-lock-alt"></i>-->
<!--                                    </div>-->
<!--                                    <input type="submit" class="btn mt-4">-->
<!--                                    <p class="mb-0 mt-4 text-center"><a href="#" class="link">Forgot your password?</a></p>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div>-->
<!--                        <p class="mb-0">Don't have an account? <a th:href="@{/register}" class="text-white-50 fw-bold mt-3">Register-->
<!--                            Here</a>-->
<!--                        </p>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;-->
<!--</section> &ndash;&gt;-->

<!--<footer class="footer-distributed">-->

<!--    <div class="footer-left">-->
<!--        <img th:src="@{/images/img.png}" alt="none">-->

<!--        <p class="footer-links">-->
<!--            <a href="/">Home</a>-->
<!--            |-->
<!--            <a href="/about">About</a>-->
<!--            |-->
<!--            <a href="/contact">Contact</a>-->
<!--        </p>-->

<!--        <p class="footer-company-name">© 2023 Sai Balaji store</p>-->
<!--    </div>-->

<!--    <div class="footer-center">-->
<!--        <div>-->
<!--            <i class="fa fa-map-marker"></i>-->
<!--            <p><span>KarimNagar,Telangana</span>-->
<!--            </p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <i class="fa fa-phone"></i>-->
<!--            <p>+91 22-27782183</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            <p><a href="mailto:Saibalaji@eduonix.com">support@Saibalaji.com</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footer-right">-->
<!--        <p class="footer-company-about">-->
<!--            <span>Sai Balaji Store</span>-->
<!--            Store Description-->
<!--        </p>-->
<!--        <div class="footer-icons">-->
<!--            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--            <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--            <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--            <a href="#"><i class="fa fa-youtube"></i></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<script type="text/javascript" th:src="@{/javascript/jquery-3.4.1.slim.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/popper.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/bootstrap.bundle.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}"></script>-->
<!--</body>-->

<!--</html>-->

<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img class="custom-nav-bar-logo" src="/images/img.png"></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/profile">
                <img class= "nav-bar-icon" src="/images/user.png"></img>
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link" href="/cart">
                <img class="nav-bar-icon" src="/images/basket.png"></img>
                <span class="sr-only">(current)</span></a>
        </div>
    </nav>
</header>
<br/>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

                <p class="text-white-50 mb-5">Please enter your login details!</p>
                <form method="post" role="form" th:action="@{/login}">
                    <div class="form-group mt-3">
                        <input type="text" name="username" id="username" placeholder="Email"
                               class="form-control form-control-lg">
                    </div>


                    <div class="form-group mt-3">
                        <input type="password" class="form-control form-control-lg" placeholder="password"
                               name="password" id="password">
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-15 mt-3" type="submit">Login</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>