<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>

<h1>All Products</h1>

<table border="1">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock Quantity</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of all products -->
    <tr th:each="product : ${allproducts}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productDescription}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stockQuantity}"></td>
        <td><a href="" th:href="@{/update_product/{ProductId}(ProductId=${product.productId})}"
               class="btn btn-warning">Update</a></td>
<!--        <td><a href="" th:href="@{/product/delete/{ProductId}(ProductId=${product.productId})}"-->
<!--               class="btn btn-danger">Remove</a></td>-->
        <td><a th:href="@{/product/delete/{ProductId}(ProductId=${product.productId})}" class="btn btn-danger">Remove</a></td>

    </tr>
    </tbody>
</table>


<a th:href="@{/addProduct}" style="margin: 20px 0" class="btn btn-outline-secondary btn-lg px-15" href="./add_products.html"
   type="submit">Add Product</a>

</body>
</html>
