<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .product {
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .product img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .product h2 {
            font-size: 1.5em;
            margin: 0;
        }
        .product .price {
            font-size: 1.2em;
            color: #333;
            margin: 10px 0;
        }
        .product .description {
            font-size: 1em;
            color: #666;
            margin-bottom: 20px;
        }
        .option1 {
            display: inline-block; /* show on the same line */
            padding-right: 5px; /* small gap on the right of each header */
        }
    </style>

</head>
<body>

<div class="product">
    <img class="" height="200px" width="200px"
         th:src="@{${'/productImages/' + product.image_path}}" th:alt="${product.ProductName}">
    <h2 th:text="${product.ProductName}"></h2>

    <h3 class="option1">Rs.</h3>
    <h3  class="option1" th:text="${product.Price}"></h3>

    <div class="description">
        This is a short description of the product. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <button>Add to Cart</button>
</div>

</body>
</html>

<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >-->
<!--    <link rel="map" th:href="@{/css/bootstrap.min.css.map}" >-->
<!--    <link rel="stylesheet" th:href="@{/font4/css/font-awesome.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" >-->
<!--    <title>View Product</title>-->
<!--</head>-->

<!--<body style="background-color:#E9ECEF;">-->

<!--<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark static-top">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <img th:src="@{/images/white_logo1.png}" src="./images/white_logo1.png" width="auto" height="60">-->
<!--        </a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--    </div>-->
<!--    <div class="container-fluid">-->
<!--        <ul class="nav navbar-nav">-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" th:href="@{/}" href="./home.html">Home</a>-->
<!--            </li>-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" th:href="@{/shop}" href="./shop.html">Shop</a>-->
<!--            </li>-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" th:href="@{/about}" href="./about.html">About</a>-->
<!--            </li>-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" th:href="@{/cart}" href="./cart.html">Cart</a>-->
<!--            </li>-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="./login.html">Login</a>-->
<!--            </li>-->
<!--            <li class="hoverable">-->
<!--                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="./home.html">Logout</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <script src="./javascript/myscripts.js"></script>-->
<!--</nav>-->

<!--<div class="container mt-5">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-6 ">-->
<!--            <img class="mt-2" height="200px" width="200px" src=""-->
<!--                 th:src="@{${'/productImages/' + product.image_path}}" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-5 col-lg-6  mt-5  hover-zoom">-->
<!--            <div class="card md-3  ">-->
<!--                &lt;!&ndash;                    <div class="d-flex justify-content-between">&ndash;&gt;-->
<!--                <div class="col-sm-6 mt-1">-->
<!--                    <h6><strong>Title : </strong><span th:text="${product.ProductName}"></span></h6>-->
<!--                    <h6><strong>Description : </strong><span th:text="${product.ProductDescription}"></span></h6>-->
<!--                    <h6><strong>Price : ₹ </strong><span th:text="${product.Price}"></span></h6>-->
<!--                    &lt;!&ndash;                 <a href="" th:href="@{/addToCart/{id}(id = ${product.prod_id})}" class="btn btn-primary">Add to cart</a>&ndash;&gt;-->

<!--                </div>-->

<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->



<!--    </div>-->
<!--    <h1>-->

<!--    </h1>-->
<!--    <div class="col-sm-6 mt-1">-->
<!--        <a value="showAlert" onclick="showAlert();" th:href="@{/addToCart/{prod_id}(id = ${product.prod_id})}"-->
<!--           class="btn btn-warning"> Add to cart</a>-->
<!--        &lt;!&ndash;                            <h1>&ndash;&gt;-->
<!--        &lt;!&ndash;                                &ndash;&gt;-->
<!--        &lt;!&ndash;                            </h1>&ndash;&gt;-->
<!--        <div class="container" style="display:none;" id="myAlert" mt-3>-->
<!--            <div class="alert alert-success alert-dismissable" id="myAlert2">-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--                Product Added to the cart successfully!-->
<!--            </div>-->
<!--        </div>-->
<!--        <script>-->
<!--            function showAlert(){-->
<!--                if($("#myAlert").find("div#myAlert2").length==0){-->
<!--                    $("#myAlert").append("<div class='alert alert-success alert-dismissable' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> Success! message sent successfully.</div>");-->
<!--                }-->
<!--                $("#myAlert").css("display", "");-->
<!--            }-->
<!--        </script>-->
<!--    </div>-->
<!--</div>-->

<!--<footer class="footer-distributed">-->

<!--    <div class="footer-left">-->
<!--        <img th:src="@{/images/white_logo1.png}"  src="./images/white_logo1.png">-->

<!--        <p class="footer-links">-->
<!--            <a href="#">Home</a>-->
<!--            |-->
<!--            <a href="#">About</a>-->
<!--            |-->
<!--            <a href="#">Contact</a>-->
<!--        </p>-->

<!--        <p class="footer-company-name">© 2022 Jagriti store</p>-->
<!--    </div>-->

<!--    <div class="footer-center">-->
<!--        <div>-->
<!--            <i class="fa fa-map-marker"></i>-->
<!--            <p><span>Upper Bazar-->
<!--                        Ranchi, Jharkhand - 834001</span>-->
<!--            </p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <i class="fa fa-phone"></i>-->
<!--            <p>+91 22-27782183</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            <p><a href="mailto:support@eduonix.com">support@jagritistores.com</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footer-right">-->
<!--        <p class="footer-company-about">-->
<!--            <span>Jagriti Store</span>-->
<!--            Jagriti Store is a one stop destination for your family's fashion needs. We give you the opportunity to-->
<!--            give your wardrobe a makeover with the latest collections from our top brands.-->
<!--        </p>-->
<!--        <div class="footer-icons">-->
<!--            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--            <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--            <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--            <a href="#"><i class="fa fa-youtube"></i></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<script type="text/javascript" th:src="@{/javascript/jquery-3.4.1.slim.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/popper.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/bootstrap.bundle.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}"></script>-->
<!--</body>-->

<!--</html>-->